<div class="admin">
<h1>Admin Page</h1>


<form ng-submit="createProduct(createTitle, createImg, createPrice)">
<h1>Create Product</h1>
<input ng-model="createTitle" placeholder="item title"></input>
<input ng-model="createImg" placeholder="img url"></input>
<input ng-model="createPrice" placeholder="price"></input>
<br/><br/>
<button class="createBtn">create product</button>
</form>

<br/>

<ul ng-repeat="product in products">
  <li>
    <img ng-src="{{ product.img }}" width="100px" height="100px"> /
     {{ product.title }} / {{ product.price }}
<button class="deleteBtn" ng-click="remove( product._id )">Delete</button>
<button class="editBtn" ng-click="editInfo = true" ng-dblclick="editInfo = false">Edit</button>

<form ng-show="editInfo">
<h3>Edit Product</h3>
<input ng-model="editTitle" placeholder="product title"></input>
<input ng-model="editImg" placeholder="img url"></input>
<input ng-model="editPrice" placeholder="price"></input>

<button class="editBtn" ng-click="editSubmit(product._id, editTitle, editImg, editPrice)">Edit Product</button>
</form>

   </li>
</ul>



</div>
